

body

{
    background-color:rgb(145, 202, 13);
    
}


p

{
    color:crimson;
    font-weight:bold;
    font-size:20px;
    font-family:monospace;
}

img

{
    content: url("obrazek.jpg");
    width: 400px;
    
}
